
@{
    ViewBag.Title = "CompanyMasterView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content" ng-app="myApp" ng-controller="myCtrl" ng-init="Get_AllCompany();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Company Master</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Companies List</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-body">
                    <div class="card">
                        <div class="card-block" style="overflow:auto;">
                            <table id="user_table" class="table table-bordered table-hover"  style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="de in company">
                                        <td>{{de.ID}}</td>
                                        <td>{{de.CompanyName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>

