
@{
    ViewBag.Title = "CityMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>CityMaster</h2>*@

<style>
    span.fooicon.fooicon-sort-asc {
        display: none;
    }

    span.fooicon.fooicon-sort-desc {
        display: none;
    }

    span.fooicon.fooicon-sort {
        display: none;
    }

    label.form-control-label {
        font-weight: 600;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
</style>
<div class="pcoded-content" ng-app="myApp" ng-controller="myCtrl" ng-init="BindCourtCityList();">
    <div class="pcoded-inner-content">
        @Html.Hidden("CityID_")
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Court City</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Court City</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <a ng-click="CourtCityList_ShowDiv();" style="color:white;" class="btn btn-sm btn-primary waves-effect waves-light f-left"><i class="icofont icofont-plus"></i>Add Court City</a>
                            <toaster-container toaster-options="{'close-button':true, 'time-out':{ 'toast-success': 2000, 'toast-error': 0 } }">
                            </toaster-container>
                        </div>
                        <div class="card-block" style="overflow: auto;">
                            <table id="user_table" class="table table-bordered table-striped" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:15%;">Edit</th>
                                        <th style="text-align: center; width: 15%;">Delete</th>
                                        <th>Sr No.</th>
                                        <th>Court City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="repdata" ng-repeat="com in courtcityList">
                                        <td><a class="btn btn-primary btn-icon" title="Edit Meeting Detail" ng-click="UpdateCourtCity(com)" href="javascript:void(0);"><i class="icofont icofont-ui-edit"></i></a></td>
                                        <td><a class="btn btn-danger btn-icon" title="Delete Meeting" ng-click="deleteCourtCity(com)" href="javascript:void(0);"><i class="icofont icofont-ui-delete"></i></a></td>
                                        <td>{{com.ID}}</td>
                                        <td>{{com.City}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
            <div id="divgy" style="position: absolute; padding-left: 0%; padding-top: 10%; height: 200%; margin-left: 0%; z-index: 9999; display:none; background-color: #23282e7a; width: 100%; margin-top: -70%;">
            </div>

            <div class="modal fade modal-flex show" id="signinmodal" tabindex="-1" style="display: block; padding-left: 17px; overflow-x: hidden; overflow-y: auto; display:none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body model-container">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title">Court City</h5>
                                <a class="close" data-dismiss="modal" aria-label="Close" onclick="hidediv();"><span aria-hidden="true">&times;</span></a>
                            </div>
                            <form novalidate name="form" class="css-form_Dist">
                                <div class="modal-body p-b-0">
                                    <div class="overflow-container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div>
                                                    <label class="form-control-label">
                                                        City
                                                    </label>
                                                    <input type="text" class="form-control" id="txtCity" required ng-model="City" maxlength="500" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" id="btnSave" ng-disabled="form.$invalid" ng-click="InsertCourtCity()" class="btn btn-primary" value="Submit" />
                                    <input type="button" class="btn btn-default" onclick="hidediv();" value="Cancel" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function hidediv() {
        $("#divgy").hide();
        $("#signinmodal").hide();
        document.getElementById("btnSave").setAttribute("value", "Submit");
        document.getElementById("btnSave").className = "btn btn-primary";
    }
    function GetParam(name) {
        const results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (!results) {
            return 0;
        }
        return results[1] || 0;
    }
</script>
